* {
  box-sizing: border-box;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.items {
  display: inline-block;
}

.links {
  display: block;
  text-decoration: none;
  color: orange;
  font-weight: 700;
}

/*-------------------------------------------------------------------*/
.menu2 {
  display: none;
}

.menu2__item {}

.menu2__link {}

/*===========================================================================*/
.menu3 {
  display: none;
}


.menu3__item {}

.menu3__link {}