* {
  box-sizing: border-box;
}

.menu1 {
  display: flex;
  height: 12vh;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin: 0;

  background-color: rgba(0, 0, 0, 0.897);
}

.menu1__item {
  list-style: none;
}

.menu1__link {
  display: block;
  padding: 0 50px;
  text-decoration: none;
}

/*-------------------------------------------------------------------*/
.menu2 {}

.menu2__item {}

.menu2__link {}

/*===========================================================================*/
.menu3 {}

.menu3__item {}

.menu3__link {}